<section class="overflow-hidden pt-0">
    <section class="mb-10">
        <!-- Background image -->
        <div class="p-5 text-center bg-image" style="background-image: url('/images/kelly-sikkema-io0ZLYbu31s-unsplash.jpg'); height: 500px; background-size: cover; background-position: 50% 50%; background-color: rgba(0, 0, 0, 0);" aria-controls="#picker-editor"></div>
        <!-- Background image -->
        <div class="container">
            <div class="card mx-4 mx-md-5 text-center shadow-5-strong" style=" margin-top: -170px; background: hsla(0, 0%, 100%, 0.7); backdrop-filter: blur(30px); ">
                <div class="card-body px-4 py-5 px-md-5">
                    <h3 class="display-3 fw-bold ls-tight mb-4"> <span>GitHub</span> <br>
                    <span>Source Codes</span> </h3>

                    <a class="btn  btn-primary btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2" href="https://github.com/johnvicencio/notatez" target="_blank" role="button" aria-controls="#picker-editor">Notatez (ASP.NET MVC Core)</a>
   
                    <a class="btn  btn-link btn-lg py-3 px-5 mb-2 mb-md-0" data-ripple-color="primary" href="https://github.com/johnvicencio" target="_blank" role="button" aria-controls="#picker-editor">John's Repositories</a>
                </div>
            </div>
        </div>
    </section>
</section>