<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand me-2" href="/">
            <img src="~/images/Notatez.png"
                 height="16"
                 alt="Notatez Logo"
                 loading="lazy" /> Notatez
        </a>
        <button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="About" asp-controller="Home">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Contact" asp-controller="Home">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Note">Manage Notes</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                @if (@ViewBag.SessionAccountId > 0)
                {
                    <div class="me-3">
                        <a class="nav-link" asp-action="Hello" asp-controller="Profile">Hello @ViewBag.SessionName!</a>
                    </div>
                    <div>
                        <a class="btn btn-success px-3" asp-action="Logout" asp-controller="Account">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            Logout
                        </a>
                    </div>
                }
                else
                {
                    <div class="me-3">
                        <a class="btn btn-primary px-3" asp-action="Login" asp-controller="Account">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            Login
                        </a>
                    </div>
                    <div>
                        <a class="btn btn-default" asp-action="Register" asp-controller="Account">
                            Sign up for free
                        </a>
                    </div>
                }
            </div>

        </div>
    </div>
</nav>
