@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/CustomFont-Regular.ttf') format('truetype');
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    /* Header styles */
    margin-bottom: 70px;
}

main {
    flex: 1;
    overflow: auto; /* Enable vertical scrolling if necessary */
    margin-bottom: 65px;
}

footer {
    margin-top: auto;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

h1, h2, h3 {
    font-weight: 700;
}
.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.note-color {
    background-color: #fff9c4;
}

:root {
    --bs-primary: #343a40; /* New primary color */
    --bs-success: #558b2f; /* New success color */
    --bs-danger: #c62828; /* New danger color */
    --bs-warning: #ffb74d; /* New warning color */
}
/* Override the primary color for pagination */
.pagination .page-item .page-link {
    background-color: transparent;
    border-color: transparent;
    color: var(--bs-primary); /* Text color for page link */
}

.pagination .page-item.active .page-link {
    background-color: var(--bs-primary); /* New primary color for active page link */
    border-color: var(--bs-primary);
    color: #fff; /* Text color for active page link */
}

.pagination .page-item .page-link:hover,
.pagination .page-item .page-link:focus,
.pagination .page-item .page-link:active {
    background-color: #757575; /* New primary color on hover, focus, and active states */
    border-color: #757575;
    color: #fff; /* Text color for page link on hover, focus, and active states */
}

/* Primary button */
.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: #fff; /* Text color for primary button */
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active {
        background-color: #757575; /* New primary color on hover, focus, and active states */
        border-color: #757575;
    }

/* Success button */
.btn-success {
    background-color: var(--bs-success); /* New success color */
    border-color: var(--bs-success);
    color: #fff; /* Text color for success button */
}

    .btn-success:hover,
    .btn-success:focus,
    .btn-success:active,
    .btn-success.active {
        background-color: #85a25f; /* New success color on hover, focus, and active states */
        border-color: #85a25f;
    }

/* Danger button */
.btn-danger {
    background-color: var(--bs-danger); /* New danger color */
    border-color: var(--bs-danger);
    color: #fff; /* Text color for danger button */
}

    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger:active,
    .btn-danger.active {
        background-color: #c62828; /* New danger color on hover, focus, and active states */
        border-color: #c62828;
    }

/* Warning button */
.btn-warning {
    background-color: var(--bs-warning); /* New warning color */
    border-color: var(--bs-warning);
    color: #fff; /* Text color for warning button */
}

    .btn-warning:hover,
    .btn-warning:focus,
    .btn-warning:active,
    .btn-warning.active {
        background-color: #ffb74d; /* New warning color on hover, focus, and active states */
        border-color: #ffb74d;
    }


/* Input box focus */
.form-control:focus {
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.25rem rgba(52, 58, 64, 0.25);
}

/* Input box focus for form validation */
.form-control:valid:focus {
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.25rem rgba(52, 58, 64, 0.25);
}

/* Input box focus for form validation error */
.form-control:invalid:focus {
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.25rem rgba(52, 58, 64, 0.25);
}