@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/CustomFont-Regular.ttf') format('truetype');
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    /* Header styles */
    margin-bottom: 70px;
}

main {
    flex: 1;
    overflow: auto; /* Enable vertical scrolling if necessary */
    margin-bottom: 65px;
}

footer {
    margin-top: auto;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

h1, h2, h3 {
    font-weight: 700;
}
.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.note-color {
    background-color: #fff9c4;
}

:root {
    --bs-primary: #343a40; /* New primary color */
    --bs-success: #558b2f; /* New success color */
    --bs-danger: #c62828; /* New danger color */
    --bs-warning: #ffb74d; /* New warning color */
}

/* Override the primary classes in Bootstrap */
.btn-primary:not(.fa),
.badge-primary:not(.fa),
.text-primary:not(.fa),
.nav-pills .nav-link.active:not(.fa),
.pagination .page-item.active .page-link:not(.fa) {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

    .btn-primary:not(.fa):hover,
    .btn-primary:not(.fa):focus,
    .btn-primary:not(.fa):active,
    .btn-primary:not(.fa).active,
    .badge-primary:not(.fa)[href],
    .text-primary:not(.fa):hover,
    .text-primary:not(.fa):focus,
    .text-primary:not(.fa):active,
    .text-primary:not(.fa).active,
    .nav-pills .nav-link.active:not(.fa):hover,
    .nav-pills .nav-link.active:not(.fa):focus,
    .nav-pills .nav-link.active:not(.fa):active,
    .pagination .page-item.active .page-link:not(.fa):hover,
    .pagination .page-item.active .page-link:not(.fa):focus,
    .pagination .page-item.active .page-link:not(.fa):active {
        background-color: #757575; /* New primary color on hover, focus, and active states */
        border-color: #757575;
    }

/* Override the success classes in Bootstrap */
.btn-success:not(.fa),
.badge-success:not(.fa),
.text-success:not(.fa) {
    background-color: var(--bs-success); /* New success color */
    border-color: var(--bs-success);
}

    .btn-success:not(.fa):hover,
    .btn-success:not(.fa):focus,
    .btn-success:not(.fa):active,
    .btn-success:not(.fa).active,
    .badge-success:not(.fa)[href],
    .text-success:not(.fa):hover,
    .text-success:not(.fa):focus,
    .text-success:not(.fa):active,
    .text-success:not(.fa).active {
        background-color: #85a25f; /* New success color on hover, focus, and active states */
        border-color: #85a25f;
    }

/* Override the danger classes in Bootstrap */
.btn-danger:not(.fa),
.badge-danger:not(.fa),
.text-danger:not(.fa) {
    background-color: var(--bs-danger); /* New danger color */
    border-color: var(--bs-danger);
}

    .btn-danger:not(.fa):hover,
    .btn-danger:not(.fa):focus,
    .btn-danger:not(.fa):active,
    .btn-danger:not(.fa).active,
    .badge-danger:not(.fa)[href],
    .text-danger:not(.fa):hover,
    .text-danger:not(.fa):focus,
    .text-danger:not(.fa):active,
    .text-danger:not(.fa).active {
        background-color: #c62828; /* New danger color on hover, focus, and active states */
        border-color: #c62828;
    }

/* Override the warning classes in Bootstrap */
.btn-warning:not(.fa),
.badge-warning:not(.fa),
.text-warning:not(.fa) {
    background-color: var(--bs-warning); /* New warning color */
    border-color: var(--bs-warning);
}

    .btn-warning:not(.fa):hover,
    .btn-warning:not(.fa):focus,
    .btn-warning:not(.fa):active,
    .btn-warning:not(.fa).active,
    .badge-warning:not(.fa)[href],
    .text-warning:not(.fa):hover,
    .text-warning:not(.fa):focus,
    .text-warning:not(.fa):active,
    .text-warning:not(.fa).active {
        background-color: #ffb74d; /* New warning color on hover, focus, and active states */
        border-color: #ffb74d;
    }


/* Input box focus */
.form-control:focus {
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.25rem rgba(52, 58, 64, 0.25);
}

/* Input box focus for form validation */
.form-control:valid:focus {
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.25rem rgba(52, 58, 64, 0.25);
}

/* Input box focus for form validation error */
.form-control:invalid:focus {
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.25rem rgba(52, 58, 64, 0.25);
}

